
::-webkit-scrollbar {
    display: none;
}

.search-input-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}

.search-input {
    flex: 1;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #4a4a4a;
    outline: none;
    background: none;
}

.search-icon {
    font-size: 18px;
    color: #4a4a4a;
    margin: 0 10px;
    cursor: pointer;
}

.filter-icon {
    margin-left: 8px;
    color: #888;
    cursor: pointer;
}

.card-title {
    color: #474747 !important;
    font-size: 25px;
    font-weight: 500;
}

 

/* Search container styles */
.search-container {
    display: flex;
    align-items: end;
    position: relative;
}

    .search-container input {
        padding: 5px;
        font-size: 15px;
        border: none;
        border-bottom: 2px solid #4a4a4a;
        outline: none;
        background: none;
        flex-grow: 1;
    }

    .search-container .fa-search,
    .search-container .fa-filter {
        font-size: 18px;
        color: #4a4a4a;
        margin: 0 10px;
        cursor: pointer;
    }

/* Drop styles */
.dropdown-VR {
    display: none;
    transform: translateY(-10px);
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(28, 82, 138, 0.2);
    z-index: 1000;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

    .dropdown-VR a {
        color: black;
        padding: 10px 14px;
        font-size: 14px;
        text-decoration: none;
        display: block;
        transition: background 0.3s ease, color 0.3s ease;
    }

    .dropdown-VR a:hover {
    background: linear-gradient(157deg, #1570CF, #1C528A);
    color: white;
}

/* Show dropdown */
.show-dropdown-VR {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Move into position */
}

/* Card styles */
.card-details {
    width: 100%;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.06);
}

    .card-details:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(5, 112, 207, 0.4);
    }




/* Top rectangle style inside the card */
.top-rectangle {
    width: 100%;
    height: 35%;
    background: linear-gradient(to right, #ECDCE0, #1570CF);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-details .top-rectangle .button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.card-details:hover .top-rectangle .button {
    opacity: 1;
}

.card-details .top-rectangle .button.view {
    background: linear-gradient(to right, #87C2E7, #5AA6DE);
}

.card-details .top-rectangle .button.edit {
    background: linear-gradient(to right, #96C8C1, #78B6BB);
}

/* Profile picture */
.profile-pic {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
   
}
    .profile-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

/* Status icon style */
.status-icon {
    position: absolute;
    right: -2px; /* Adjust for overlap */
    top: 70%; /* Adjust to align with the profile */
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20px; /* Ensure the icon's container is visible */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .status-icon i {
        color: red;
        font-size: 16px; /* Adjust size to fit inside the container */
    }


/* Card text */
.card-details h2 {
    font-size: 15px;
    margin: 5px 0;
    position: relative;
    top: 50px;
}

.card-details p {
    font-size: 13px;
    color: #666;
    margin:  -1px;
    position: relative;
    top: 50px;
}

.card-details .hr {
    width: 220px;
    margin: 5px auto;
    border: 0.5px solid #ccc;
    position: relative;
    top: 50px;
}

.card-details .division {
    font-size: 14px;
    color: #333;
    margin-top: 0px;
    position: relative;
    top: 50px;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

/*This is the main popup container*/

.main-content.blurred {
    filter: blur(5px);
    pointer-events: none;
}

/* Popup Overlay */
.popup-overlay {
    display: none; /* Hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparent black */
    z-index: 1500;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Blurs the background */
}


.card_view {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 1001; /* Ensure it’s above the overlay */
}

.card_view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

    .card_view-header h2 {
        font-size: 24px;
        margin: 0;
        color: #1E1E1E;
    }

    .card_view-header .close {
        font-size: 25px;
        cursor: pointer;
        color: #1E1E1E;
    }

.gradient-line {
    width: 100%;
    height: 35px;
    background: linear-gradient(to right, #ECDCE0, #1570CF);
    position: relative;
}

.card_view-body {
    padding: 20px;
    padding-top: 10px;
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

    .profile img {
        border-radius: 50%;
        margin-right: 15px;
        border: 5px solid #fff;
        margin-top: -40px; /* Move the image upwards */
    }

.profile-info {
    flex-grow: 1;
}

    .profile-info h3 {
        font-size: 24px;
        margin: 0;
    }

    .profile-info p {
        font-size: 16px;
        color: #707070;
        margin: 0;
    }

    .profile-info a {
        color: #007bff;
        text-decoration: none;
        font-size: 14px;
    }

.details {
    margin-top: 10px; /* Adjusted to move the details up */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #545454;
}

    .details .info {
        flex-grow: 1;
    }

    .details p {
        margin: 5px 0;
        display: flex;
        align-items: center;
       
    }

        .details p i {
            margin-right: 10px;
            color: #000000;
        }

    .details .view-cv {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid #292929;
        border-radius: 5px;
        text-decoration: none;
        color: #292929;
        font-size: 16px;
        text-align: center;
        margin-right: 30px; /* Add margin to the left to separate it from the details */
    }

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #292929;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card_view-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

    .card_view-footer button {
        background: linear-gradient(to right, #324AAB, #5188D6);
        border: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        width: 205px;
        height: 37px;
        text-align: center;
        
    }


.popup-content{
    display:flex;
    align-items:center;
    justify-content:center;
}

.visible-container {
    background: white;
    width:60%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow:hidden;
    z-index: 1001;
}