/* Default state */
/*default side bar text and colour and when hover sidebar colour*/
.sidebar .nav-link {
    color: white;
    font-size:x-large;
}

    .sidebar .nav-link i,
    .sidebar .nav-link p {
        color: white;
       
    }

    /* Hover or active state */
    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
        color: #007BFF; /* Blue */
    }

        .sidebar .nav-link:hover i,
        .sidebar .nav-link:hover p,
        .sidebar .nav-link.active i,
        .sidebar .nav-link.active p {
            color: #007BFF; /* Blue */
        }
        /**/
